beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
hazm==0.7.0
idna==2.8
libwapiti==0.2.1
nltk==3.6.5
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.26.5
